name: GitHub Readme Stats

on:
  schedule:
    - cron: "0 2 * * *" # Runs once daily at midnight
  workflow_dispatch:

jobs:
  update-cards:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    name: Update cards
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Ensure output folder
        run: mkdir -p profile

      - name: Generate stats card (dark)
        uses: readme-tools/github-readme-stats-action@v1
        with:
          card: stats
          options: 'username=${{ github.repository_owner }}&theme=dark&bg_color=000000&icon_color=4c71f2&hide_border=false&locale=en&border_radius=4.5&card_width=350&hide_title=true&hide_rank=true&rank_icon=default&show_icons=true&include_all_commits=false&line_height=25&text_bold=true&disable_animations=false&number_format=short'
          path: profile/stats-dark.svg
          token: ${{ secrets.PAT }}

      - name: Commit cards
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions@users.noreply.github.com"
          git add profile/*.svg
          git commit -m "Update README cards" || exit 0
          git push
